<!DOCTYPE html>
<html lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<!--meta charset="utf-8" /-->
	
    <script src="./Scripts/jquery-1.10.2.min.js"></script>
    <script src="./Scripts/knockout-2.3.0.debug.js"></script>
	
    <script src="./model.js"></script>
    <!--script src="./view.js"></script-->
    <script src="./viewModel.js"></script>
	
	<title>Sample Code</title>
</head>

<body>
	<div>登録件数 <span data-bind='text: now'>&nbsp;</span> 件</div>
	
	<button data-bind='click: createButton, disable: isRecordMax'>登録</button>
	<button data-bind='click: deleteButton, disable: isRecordEmpty'>削除</button>
	<!--button data-bind='click: updateButton>修正</button-->
	
	<p>名前: <input data-bind="value: name" /></p>
	<p>年齢: <input data-bind="value: age" /></p>
	<p>性別: <input data-bind="value: sex" /></p>
	<p>電話番号: <input data-bind="value: telnum" /></p>
	<p>郵便番号: <input data-bind="value: addrnum" /></p>
	<p>住所: <input data-bind="value: addr" /></p>
	
	
	<!-- List -->
	
	<form data-bind="submit: addItem">
		新しいアイテム
		<input data-bind='value: itemToAdd, valueUpdate: "afterkeydown"' />
		<button type="submit" data-bind="enable: itemToAdd().length > 0">追加</button>
		
		<p>アイテム一覧</p>
		<select multiple="multiple" width="50" data-bind="options: items"> </select>
	</form>

</body>
</html>

